/* ! <Provide>=============================================================================================================================================*/
.provide {
    padding: 114px 0 0 0;

    &__body {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        max-width: 500px;
        & *:last-child {
            margin: 0;
        }
    }

    &__title {
        margin: 0 0 30px 0;
    }

    &__text {
        margin: 0 0 45px 0;
    }

    &__button {
        width: 227px;
        height: 55px;

        margin: 0 0 20px 0;
    }
}

.provide-columns {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 40px;

    &__body {
        max-width: 290px;
        & *:last-child {
            margin: 0;
        }
    }

    &__icon {
        margin: 0 0 20px 0;
        img {
            width: fit-content;
            height: fit-content;
        }
    }

    &__title {
        opacity: 0.7;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 600;
        letter-spacing: 0.01em;

        margin: 0 0 10px 0;
    }

    &__text {
        margin: 0 0 15px 0;
    }
}
/* ! </Provide>============================================================================================================================================*/
